.container {
  height: 100vh;
}

mat-sidenav {
  -webkit-box-shadow: 5px 0 5px -5px #333;
  box-shadow        : 5px 0 5px -5px #333;
}

mat-drawer-container {
  height: 100%;
}

mat-sidenav-container {
  height: 100%;
}

mat-sidenav-content {
  width : 100vw;
  height: 100%;
}
