<mat-toolbar class="toolbar" color="accent">
  <h1 class="menu" routerLink="/" style="cursor: pointer;">Angular-CRUD</h1>
  <span class="spacer"></span>

  <!-- <button mat-icon-button [matMenuTriggerFor]="menu" mdTooltip="Change theme">
    <mat-icon>format_color_fill</mat-icon>
  </button> -->

  <!-- <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="null">Light</button> -->
    <!-- <button mat-menu-item (click)="changeTheme('light-theme')">Light</button> -->
    <!-- <button mat-menu-item (click)="null">Dark</button> -->
    <!-- <button mat-menu-item (click)="changeTheme('dark-theme')">Dark</button> -->
  <!-- </mat-menu> -->

  <button mat-icon-button [matMenuTriggerFor]="profileMenu">
    <mat-icon>person_pin</mat-icon>
  </button>

  <!--USER PROFILE MENU-->
  <mat-menu #profileMenu="matMenu">
    <button mat-menu-item disabled>
      <mat-icon>supervisor_account</mat-icon>
      <span>Modify account</span>
    </button>

    <button mat-menu-item (click)="openDialog()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>

<mat-drawer-container>
  <mat-drawer mode="side" opened>
    <mat-nav-list>
      <a mat-list-item routerLink="/">
        <i class="material-icons">dashboard</i>
        &nbsp;Dashboard
      </a>

      <a mat-list-item routerLink="/clients">
        <i class="material-icons">web</i>
        &nbsp;Clients
      </a>

      <a mat-list-item routerLink="/users">
        <i class="material-icons">person</i>
        &nbsp;Users
      </a>

      <a mat-list-item routerLink="/404">
        <i class="material-icons">error_outline</i>
        &nbsp;Error page
      </a>
    </mat-nav-list>
  </mat-drawer>

  <mat-drawer-content>
    <div class="loading-overlay" #progressBar>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
