<div class="container animated fadeIn" [class.is-mobile]="mobileQuery.matches">
    <mat-toolbar class="toolbar" color="accent">
        
        <button mat-icon-button (click)="snav.toggle()">
            <mat-icon class="menu">menu</mat-icon>
        </button>
        
        <h1 class="menu">Angular-CRUD</h1>
        <span class="spacer"></span>

        <!-- <button mat-icon-button>
            <i class="material-icons menu">notifications</i>
        </button>
        <button mat-icon-button>
            <i class="material-icons menu">message</i>
        </button> -->

        <button mat-icon-button [matMenuTriggerFor]="profileMenu">
            <i class="material-icons menu">person_pin</i>
        </button>
        
        <!-- <button mat-icon-button>
            <i class="material-icons menu">settings</i>
        </button> -->
    </mat-toolbar>

    <!-- LOADINGBAR -->
    <div class="loading-overlay" #progressBar style="opacity: 0;">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>

    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"[fixedInViewport]="mobileQuery.matches">
            <mat-nav-list>
                <a mat-list-item routerLink="/">
                    <i class="material-icons">dashboard</i>&nbsp;Dashboard
                </a>

                <a mat-list-item routerLink="/person">
                    <i class="material-icons">person</i>&nbsp;Personas
                </a>

                <a mat-list-item routerLink="/contact-us">
                    <i class="material-icons">email</i>&nbsp;Contactanos
                </a>

                <a mat-list-item routerLink="/table">
                    <i class="material-icons">web</i>&nbsp;Tablas
                </a>

                <a mat-list-item routerLink="/404">
                    <i class="material-icons">error_outline</i>&nbsp;Error page
                </a>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>

<!--USER PROFILE MENU-->
<mat-menu #profileMenu="matMenu">
    <button mat-button (click)="openDialog()">Cerrar sesión</button>
</mat-menu>