<div class="signin-content animated fadeIn">
    <mat-card>
        <mat-card-content>
            <img src="assets/img/1.png" width="200px" onmousedown="return false;">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <mat-form-field class="full-width-input">
                    <input matInput placeholder="User" formControlName="user_name" required>
                    <mat-error *ngIf="isFieldInvalid('user_name')">
                        Please inform your user name
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="full-width-input separate">
                    <input matInput type="password" placeholder="Password" formControlName="password" required>
                    <mat-error *ngIf="isFieldInvalid('user_name')">
                        Please inform your password
                    </mat-error>
                </mat-form-field>

                <button mat-raised-button color="primary" type="submit" style="width: 100%;">Login</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>