<div class="animated fadeIn dashboard">
  <mat-card class="dashboard-item item-teal float-item" routerLink="/clients">
    <i class="material-icons dashboard-icon">person</i>
    <mat-card-header>
      <mat-card-title>
        <h1>Clients</h1>
      </mat-card-title>
      <mat-card-subtitle># clients</mat-card-subtitle>
    </mat-card-header>
  </mat-card>

  <mat-card class="dashboard-item item-brown float-item" routerLink="/users">
    <i class="material-icons dashboard-icon">verified_user</i>
    <mat-card-header>
      <mat-card-title>
        <h1>Users</h1>
      </mat-card-title>
      <mat-card-subtitle># users</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</div>
