/* Structure */
.table-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
    position: relative;
    width: 700px;
}

.table-header {
    min-height: 64px;
    display: flex;
    align-items: center;
    padding-left: 24px;
    font-size: 20px;
}

.person-table {
    overflow: auto;
    min-height: 300px;
}

.table-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.01);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Column Widths */
.mat-column-number,
.mat-column-state {
    max-width: 64px;
}

.mat-column-created {
    max-width: 124px;
}

/* applyFilter */
.example-header {
    min-height: 64px;
    padding: 8px 24px 0;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

mat-toolbar {
    height: 200px;
    min-width: 300px;
    width: 1000px;
}

.container {
}

.add-button {
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;
}