/* Structure */
.table-container {
    display: flex;
    flex-direction: column;
    height: 80vh;
    position: relative;
    width: 80vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    left: 10vw;
    right: 10vw;
}

mat-toolbar {
    position: absolute;
    top: 0px;
    height: 20vh;
    width: 100vw;
    margin-left: 0 !important;
}

.add-button {
    position: absolute;
    top: 11vh;
    right:8vw;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;
    z-index: 2;
}

.container {
    width: 90vw !important;
}

.table-header {
    min-height: 64px;
    display: flex;
    align-items: center;
    padding-left: 24px;
    font-size: 20px;
    margin-bottom: 5vh
}

.person-table {
    overflow: auto;
    padding-top: 2vh;
}

.table-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.01);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Column Widths */
.mat-column-number,
.mat-column-state {
    max-width: 64px;
}

.mat-column-created {
    max-width: 124px;
}

/* applyFilter */
.table-header {
    min-height: 64px;
    padding: 8px 24px 0;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

input[placeholder] {
    color: white;
}