.main-content{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.sidebar{
    background-color: #E53935;
}

.active{
    background-color:rgba(9, 30, 66, 0.25);
}

.sidebar-item{
    color: white;
}

mat-icon{
    color: white;
}

.profile {
    position:fixed;
    bottom:0px;
    width:100%;
}