.main-content{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: left !important;
    margin-left: 0px !important;
    margin-right: 30px;
    margin-top: 0 !important;
}

.sidebar{
    background-color: #FF4081;
}

.active{
    background-color:rgba(9, 30, 66, 0.25);
}

.sidebar-item{
    color: white;
}

mat-icon{
    color: white;
}

.profile {
    position:fixed;
    bottom:0px;
    width:100%;
}

mat-sidenav {
    -webkit-box-shadow: 5px 0 5px -5px #333;
    box-shadow: 5px 0 5px -5px #333;
}