/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    margin: 0 !important;
    background-color: rgb(235, 235, 235);
}

/* @media (prefers-color-scheme: dark) {
    body {
        background-color: black;
    }

    .mat-card {
        background-color: #201f1f;
    }

    .mat-form-field-empty.mat-form-field-label {
        color: #3F51B5;
    }

    .mat-form-field-underline {
        background-color: #3F51B5 !important;
    }

    .mat-form-field-underline .mat-form-field-ripple{
        background-color: #3F51B5 !important;
    }

    h1,h2,h3,h4 {
        color: #3F51B5;
    }
} */

/* ANIMACIÓN AL CARGAR UNA PÁGINA */
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

/* FUENTE GLOBAL DEL SISTEMA */
label {
    font-family: Roboto;
}

/* PONE LOS ICONOS DEL TOOLBAR A LA DERECHA */
.spacer {
  flex: 1 1 auto !important;
}

/* SETEANDO LOS MARGENES GLOBALES DE LA PÁGINA */
mat-sidenav-content {
    width: 100vw;
    height: 89vh !important;
}