/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

// Imports for Angular Material Theming
// More colors: https://medium.com/@treviergits/angular-material-theme-color-options-7d5968cb7460
@import '~@angular/material/theming';
@include mat-core();

// Light theme
$light-primary: mat-palette($mat-indigo);
$light-accent : mat-palette($mat-pink, A200, A100, A400);
$light-theme  : mat-light-theme($light-primary, $light-accent);

// Dark theme
$dark-primary: mat-palette($mat-pink);
$dark-accent : mat-palette($mat-indigo, A200, A100, A400);
$dark-warn   : mat-palette($mat-deep-orange);
$dark-theme  : mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

@media (prefers-color-scheme: light) {
  @include angular-material-theme($light-theme);
}

@media (prefers-color-scheme: dark) {
  @include angular-material-theme($dark-theme);
}

html {
  height: 100%;
}

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  height: 100%;
  background-color: rgb(235, 235, 235);
}

/* ANIMACIÓN AL CARGAR UNA PÁGINA */
.animated {
  -webkit-animation-duration : 1s;
  animation-duration         : 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode        : both;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name        : fadeIn;
}

/* FUENTE GLOBAL DEL SISTEMA */
label {
  font-family: Roboto;
}

/* PONE LOS ICONOS DEL TOOLBAR A LA DERECHA */
.spacer {
  flex: 1 1 auto !important;
}


/*
Styles for mat grids
*/

.table-container {
  overflow: auto;
  height  : auto;
  width   : 80vw;
  margin  : 5vh auto 9vh auto !important;
}

.add-button {
  position     : absolute;
  top          : 15vh;
  /*right      :15vw;*/
  right        : 13vw;
  color        : #FFF;
  border-radius: 50px;
  text-align   : center;
  box-shadow   : 2px 2px 3px #999;
  z-index      : 2;
}

.table-loading-shade {
  position       : absolute;
  top            : 0;
  left           : 0;
  bottom         : 56px;
  right          : 0;
  background     : rgba(0, 0, 0, 0.01);
  z-index        : 1;
  display        : flex;
  align-items    : center;
  justify-content: center;
}


/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}

/* applyFilter */
.table-header {
  padding: 0px 8px 0px 24px;
}

.mat-form-field {
  font-size: 14px;
  width    : 75vw;
  height   : 10vh !important;
}

.table-header {
  padding-top: 3vh !important;
}

.button-row,
.mat-column-personid {
  display        : flex;
  justify-content: center;
}
